# **Atividade Avaliativa 3**
##### `Residente`: Vinícius dos Reis Vieira

## Considere a base de dados **Customer Data and Bank Loans**
- https://www.kaggle.com/datasets/daniellopez01/credit-risk

### Exercícios:
---

1. **Agrupamento por `credit_history` com resumo estatístico:**  
   Agrupe os dados pela coluna `credit_history` e calcule:
   - A soma total dos valores da coluna `amount`;
   - A idade média (`age`) para cada grupo.

---

2. **Criação de uma coluna com média ajustada:**  
   Crie uma nova coluna chamada `amount_ratio`, que contém o valor de `amount` dividido pela média de `amount` em cada categoria de `purpose`.

---

3. **Classificação de idade:**  
   Crie uma nova coluna chamada `age_group` que classifica os valores de `age` em categorias:
   - "Under 30" se a idade for menor que 30;
   - "30-50" se a idade estiver entre 30 e 50;
   - "Over 50" se a idade for maior que 50.

---

4. **Análise de variabilidade por `employment_duration` e `housing`:**  
   Agrupe os dados pelas colunas `employment_duration` e `housing` e calcule:
   - A média e o desvio padrão (`std`) da coluna `amount`.

---

5. **Distribuição de idade mínima e máxima por `job`:**  
   Agrupe os dados pela coluna `job` e calcule:
   - A idade mínima (`age_min`) e a idade máxima (`age_max`) para cada categoria de emprego.

---

6. **Diferença entre o valor do empréstimo e a média por histórico de crédito (`transform`):**  
   Crie uma nova coluna chamada `amount_diff`, que contém a diferença entre o valor de `amount` e a média de `amount` dentro de cada grupo de `credit_history`.

---

7. **Quantidade de dependentes por tipo de conta bancária (`groupby` e `agg`):**  
   Agrupe os dados pela coluna `checking_balance` e calcule:
   - A soma total de `dependents`;
   - O número médio de dependentes por categoria de conta bancária.

---

### Solução

In [1]:
import pandas as pd

df = pd.read_csv(r'C:\Users\vinicius_vieira\OneDrive - Sicredi\Residência IA\Introdução à Linguagens\Atividades Avaliativas\data\credit.csv')

df.head()

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes

1. **Agrupamento por `credit_history` com resumo estatístico:**  
   Agrupe os dados pela coluna `credit_history` e calcule:
   - A soma total dos valores da coluna `amount`;
   - A idade média (`age`) para cada grupo.

In [6]:
df_agrupado = df.groupby('credit_history')

resumo_estats = df_agrupado.agg({'amount': 'sum', 'age': 'mean'}).reset_index()

print(resumo_estats)

  credit_history   amount        age
0       critical   904795  38.436860
1           good  1611708  33.877358
2        perfect   212227  34.300000
3           poor   378629  36.136364
4      very good   163899  36.265306

2. **Criação de uma coluna com média ajustada:**  
   Crie uma nova coluna chamada `amount_ratio`, que contém o valor de `amount` dividido pela média de `amount` em cada categoria de `purpose`.

In [8]:
media_amount_por_purpose = df.groupby('purpose')['amount'].transform('mean')

df['amount_ratio'] = df['amount'] / media_amount_por_purpose

df.head(5)

,checking_balance,months_loan_duration,credit_history,purpose,amount,savings_balance,employment_duration,percent_of_income,years_at_residence,age,other_credit,housing,existing_loans_count,job,dependents,phone,default,amount_ratio
0,< 0 DM,6,critical,furniture/appliances,1169,unknown,> 7 years,4,4,67,none,own,2,skilled,1,yes,no,0.435506
1,1 - 200 DM,48,good,furniture/appliances,5951,< 100 DM,1 - 4 years,2,2,22,none,own,1,skilled,1,no,yes,2.217018
2,unknown,12,critical,education,2096,< 100 DM,4 - 7 years,2,3,49,none,own,1,unskilled,2,no,no,0.727979
3,< 0 DM,42,good,furniture/appliances,7882,< 100 DM,4 - 7 years,2,4,45,none,other,1,skilled,2,no,no,2.936403
4,< 0 DM,24,poor,car,4870,< 100 DM,1 - 4 years,3,4,53,none,other,2,skilled,2,no,yes,1.292397

3. **Classificação de idade:**  
   Crie uma nova coluna chamada `age_group` que classifica os valores de `age` em categorias:
   - "Under 30" se a idade for menor que 30;
   - "30-50" se a idade estiver entre 30 e 50;
   - "Over 50" se a idade for maior que 50.

In [10]:
def categoria_idade(age):
    if age < 30:
        return 'Under 30'
    elif 30 <= age <= 50:
        return '30-50'
    else:
        return 'Over 50'

df['age_group'] = df['age'].apply(categoria_idade)

print(df[['age', 'age_group']])

     age age_group
0     67   Over 50
1     22  Under 30
2     49     30-50
3     45     30-50
4     53   Over 50
..   ...       ...
995   31     30-50
996   40     30-50
997   38     30-50
998   23  Under 30
999   27  Under 30

[1000 rows x 2 columns]

4. **Análise de variabilidade por `employment_duration` e `housing`:**  
   Agrupe os dados pelas colunas `employment_duration` e `housing` e calcule:
   - A média e o desvio padrão (`std`) da coluna `amount`.

In [11]:
estats_agrupadas = df.groupby(['employment_duration', 'housing'])['amount'].agg(['mean', 'std']).reset_index()

print(estats_agrupadas)

   employment_duration housing         mean          std
0          1 - 4 years   other  5112.961538  3554.197468
1          1 - 4 years     own  2999.162698  2590.607900
2          1 - 4 years    rent  2799.114754  2339.122571
3          4 - 7 years   other  4788.454545  3254.082770
4          4 - 7 years     own  3556.053435  3101.828623
5          4 - 7 years    rent  3380.593750  2601.450413
6             < 1 year   other  3451.000000  1701.995182
7             < 1 year     own  2848.445378  2355.647591
8             < 1 year    rent  3152.148936  2924.892900
9            > 7 years   other  4841.220000  3950.773540
10           > 7 years     own  2726.186047  2259.908705
11           > 7 years    rent  3382.741935  2424.099227
12          unemployed   other  5432.933333  3959.375699
13          unemployed     own  3921.769231  3576.914493
14          unemployed    rent  3374.500000  2437.238894

5. **Distribuição de idade mínima e máxima por `job`:**  
   Agrupe os dados pela coluna `job` e calcule:
   - A idade mínima (`age_min`) e a idade máxima (`age_max`) para cada categoria de emprego.

In [13]:
estats_idade_agrupada = df.groupby('job')['age'].agg(age_min='min', age_max='max').reset_index()

print(estats_idade_agrupada)

          job  age_min  age_max
0  management       20       75
1     skilled       19       68
2  unemployed       23       74
3   unskilled       19       74

6. **Diferença entre o valor do empréstimo e a média por histórico de crédito (`transform`):**  
   Crie uma nova coluna chamada `amount_diff`, que contém a diferença entre o valor de `amount` e a média de `amount` dentro de cada grupo de `credit_history`.

In [14]:
media_amount_por_credit_history = df.groupby('credit_history')['amount'].transform('mean')

df['amount_diff'] = df['amount'] - media_amount_por_credit_history

print(df[['credit_history', 'amount', 'amount_diff']])

    credit_history  amount  amount_diff
0         critical    1169 -1919.037543
1             good    5951  2910.041509
2         critical    2096  -992.037543
3             good    7882  4841.041509
4             poor    4870   567.397727
..             ...     ...          ...
995           good    1736 -1304.958491
996           good    3857   816.041509
997           good     804 -2236.958491
998           good    1845 -1195.958491
999       critical    4576  1487.962457

[1000 rows x 3 columns]

7. **Quantidade de dependentes por tipo de conta bancária (`groupby` e `agg`):**  
   Agrupe os dados pela coluna `checking_balance` e calcule:
   - A soma total de `dependents`;
   - O número médio de dependentes por categoria de conta bancária.

In [18]:
estats_categoria_dependentes = df.groupby('checking_balance')['dependents'].agg(total_dependentes='sum', media_dependentes='mean').reset_index()

print(estats_categoria_dependentes)

  checking_balance  total_dependentes  media_dependentes
0       1 - 200 DM                300           1.115242
1           < 0 DM                326           1.189781
2         > 200 DM                 72           1.142857
3          unknown                457           1.159898