In [85]:
# list comprehension
# multiplicacao de listas
lista1 = [2,4,5,6,7,8]
lista2 = [1,2,3,4,5,6]
lista3 = [valor1+valor2 for valor1 in lista1 for valor2 in lista2]
print(lista3)

[3, 4, 5, 6, 7, 8, 5, 6, 7, 8, 9, 10, 6, 7, 8, 9, 10, 11, 7, 8, 9, 10, 11, 12, 8, 9, 10, 11, 12, 13, 9, 10, 11, 12, 13, 14]

In [86]:
#generator

lista1 = [valor**2 for valor in range(100)]
print(lista1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

In [87]:
lista1_generator = (valor**2 for valor in range(100))
print(lista1_generator) #ele não salva o valor na memoria. vc puxa ele no comando

<generator object <genexpr> at 0x0000025B050DD8A0>

In [88]:
import sys
print(sys.getsizeof(lista1))
print(sys.getsizeof(lista1_generator))

920
200

In [89]:
print(next(lista1_generator)) # a cada execução do código ele vai pro próximo argumento do iterável

0

In [90]:
for valor in lista1_generator:
    print(valor)

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500
2601
2704
2809
2916
3025
3136
3249
3364
3481
3600
3721
3844
3969
4096
4225
4356
4489
4624
4761
4900
5041
5184
5329
5476
5625
5776
5929
6084
6241
6400
6561
6724
6889
7056
7225
7396
7569
7744
7921
8100
8281
8464
8649
8836
9025
9216
9409
9604
9801

# Itertools

Forma mais otimizada de passar por iteráveis

In [91]:
import itertools as it
lista1 = [1,2,3,4]
lista2 = [5,6,7,8]
lista3 = it.chain(lista1, lista2)
print(lista3)

<itertools.chain object at 0x0000025B0505B250>

In [92]:
print(sys.getsizeof(lista3))

48

In [93]:
for i in lista3:
    print(i)

1
2
3
4
5
6
7
8

In [94]:
lista = it.permutations([1,2,3,4], 2)

# print(list(lista))

In [95]:
lista2 = []
for i in lista:
    lista2.append(i)    
print(lista2)

[(1, 2), (1, 3), (1, 4), (2, 1), (2, 3), (2, 4), (3, 1), (3, 2), (3, 4), (4, 1), (4, 2), (4, 3)]

In [96]:
# combinations

lista = it.combinations_with_replacement([1,2,3,4,5],2)
print(list(lista))

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 2), (2, 3), (2, 4), (2, 5), (3, 3), (3, 4), (3, 5), (4, 4), (4, 5), (5, 5)]

In [97]:
# islice
lista = it.islice([1,2,3,4,5,6,7],2,5,1)
print(list(lista))

[3, 4, 5]

In [98]:
# zip_longest

lista1 = [1,2,3]
lista2 = ['a','b']
lista3 = it.zip_longest(lista1, lista2, fillvalue='null')
print(list(lista3))

[(1, 'a'), (2, 'b'), (3, 'null')]

# Dicionários e conjuntos

In [99]:
#criando um dicionario
# d1 = {} ou dict()
d1 = {'Jose':20, 'Ana':30,'Maria':19}
print(d1)

{'Jose': 20, 'Ana': 30, 'Maria': 19}

In [100]:
type(d1)

dict

In [101]:
# acessando valores
print(d1['Jose'])

20

In [102]:
#alterando valores
d1['Jose'] = 25
print(d1)

{'Jose': 25, 'Ana': 30, 'Maria': 19}

In [103]:
# adionando valores
d1['Joao'] = 40
d1['Paula'] = 22
print(d1)

{'Jose': 25, 'Ana': 30, 'Maria': 19, 'Joao': 40, 'Paula': 22}

In [104]:
# removendo item
del d1['Jose']
print(d1)

{'Ana': 30, 'Maria': 19, 'Joao': 40, 'Paula': 22}

In [105]:
## uteis
# retorna todas as chaves
for key in d1:
    print(key)

Ana
Maria
Joao
Paula

In [106]:
#retorna valores
for valor in d1.values():
    print(valor)

30
19
40
22

In [110]:
#retorna uma lista de tuplas
for valor in d1.items():
    print(valor)

for ch, val in d1.items():
    print(ch,val)

for ch, val in zip(d1.keys(), d1.values()):
    print(ch,val)

('Ana', 30)
('Maria', 19)
('Joao', 40)
('Paula', 22)
Ana 30
Maria 19
Joao 40
Paula 22
Ana 30
Maria 19
Joao 40
Paula 22

In [111]:
d2 = {
    'param1':[1,2,3,4],
    'param2':"Programando python"
}

for i in d2.items():
    print(i)

('param1', [1, 2, 3, 4])
('param2', 'Programando python')

## operações com conjuntos

In [118]:
# criando um conjunto
#c1 = set() or {1,2} - usa chaves mas sem o conceito de chave:valor assim como o dicionário

c1 = {1,2,3,40,5,67,7} #nao há ordenação
print(c1)

#adicionando um elemento
c1.add(30)
print(c1)

#remover um elemento
c1.remove(40)
print(c1)

{1, 2, 67, 3, 5, 7, 40}
{1, 2, 67, 3, 5, 7, 40, 30}
{1, 2, 67, 3, 5, 7, 30}

In [121]:
# union
c2 = {300,200}
c3 = c1.union(c2)
print(c3)

#interseção
c3 = c1.intersection(c2)

{1, 2, 67, 3, 5, 7, 200, 300, 30}